<tr id="headingOne">
  <td class="store_name" style="padding: 15px;" >
    <%= store.name %>
  </td>
  <td class="icon_plus" style="vertical-align: middle;">
    <a class="fa fa-plus-square-o fa-2x" data-toggle="collapse" data-target="#collapseOne" data-parent="#accordion">
    </a>
  </td>
</tr>

<tr id="collapseOne" class="panel-collapse collapse" style="background-color: yellow" style="100%">
  <td style="" colspan="2">
    <a id="btn" class="btn btn-default" href="#" role="button">Link</a>
    <a id="btn" class="btn btn-default" href="#" role="button">Link</a>
    <a id="btn" class="btn btn-default" href="#" role="button">Link</a>
  </td>
</tr>
