/*container*/
.body_container {
  margin: 50px 0px 10px;
}
.container, .body_container {
  font-family: 'Poiret One', cursive;
}

/*sign in or out*/
.user_container {
  margin: 0px 20px;
}
.actions {
  margin-left: -15px;
}

/*nav bar*/
.user_name {
  color: #ccc;
  padding: 15px 0;
}

/*icon*/
.icon_plus {
  text-align: center;
/*  vertical-align: middle;*/
}
a.fa {
  text-decoration: none !important;
  opacity: 0.8;
  color: #555;
}

/*main page*/
.store_name {
  font-size: 20px;
}

.level {
  width: 30px;
}

.qbtn {
  margin-left: 3%;
  margin-right: 3%;
  display: inline;
  float: left;
  width: 90px;
}
